<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/stickyfooter.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/layout.css">
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="../../component/css/pureness-pagination.css">
    <link rel="stylesheet" href="../../component/css/pureness-search.css">
    <link rel="stylesheet" href="css/pureness-member.css">
    <style type="text/css">
        #content {
            max-width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div id="main">

        <div id="header">
            <div class="pure-g" style="text-align: center; line-height: 50px;">
                <div class="pure-u-1">
                    Header
                </div>
            </div>
        </div><!-- #header -->

        <div id="nav">
            <div class="pure-g" style="text-align: center; line-height: 50px;">
                <div class="pure-u-1">
                    Nav
                </div>
            </div>
        </div><!-- #nav -->

        <div id="content">
            <div id="main-section">
                <div class="pureness-member-title">
                    <h2>회원관리</h2>
                </div>

                <div class="pure-form pureness-member-detail">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">아이디</span>
                            <span class="content">admin</span>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">이름</span>
                            <span class="content">관리자</span>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">이메일</span>
                            <span class="content">admin@gmail.com</span>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">가입일</span>
                            <span class="content">2018-12-25 15:22:35</span>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">마지막 로그인</span>
                            <span class="content">2018-12-25 15:22:35</span>
                        </div>
                    </div>

                    <div class="pure-g">
                        <div class="pure-u-1">
                            <span class="title">권한</span>
                            <span class="content">ROLE_UER</span>
                        </div>
                    </div>

                </div><!-- .pureness-member-detail -->

                <div class="pureness-member-buttons">
                    <a href="#" class="pure-button">목록</a>
                    <a href="#" class="pure-button pure-button-primary">수정</a>
                </div><!-- .pureness-board-buttons -->

            </div><!-- #content -->
        </div><!-- #section -->

    </div><!-- #main -->
</div><!-- #wrap -->

<div id="footer">
    <div class="pure-g" style="text-align: center; line-height: 50px;">
        <div class="pure-u-1">
            Footer
        </div>
    </div>
</div><!-- #footer -->

</body>
</html>
