<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../static/css/stickyfooter.css">
		<link rel="stylesheet" href="../../../static/css/layout.css">
		<link rel="stylesheet" href="../../../static/css/member.css">
	</head>
	<body>
		<div id="wrap">
			<div id="main">

				<div id="header">
					<div class="logo">
						<span>SSFC</span>
					</div>
				</div><!-- #header -->

				<div id="contents">
					<div id="main-section">

						<div class="member-detail">
							<form class="pure-form">
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>순번</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>1</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>이름</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>박석영</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>생년월일</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>1988-02-23</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>포지션</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>AM</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>장점</span>
									</div>
									<div class="pure-u-3-5 content">
										<p>전술이해도</p>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>단점</span>
									</div>
									<div class="pure-u-3-5 content">
										<p>체력</p>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>메모</span>
									</div>
									<div class="pure-u-3-5 content">
										<p>요즘따라 화가 많음</p>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>가입일</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>2022-03-22</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>탈퇴일</span>
									</div>
									<div class="pure-u-3-5 content">
										<span>2023-03-11</span>
									</div>
									<div class="pure-u-1-5"></div>
								</div>
							</form>

							<div class="buttons">
								<button class="pure-button">목록</button>
								<button class="pure-button">삭제</button>
								<button class="pure-button pure-button-primary">수정</button>
							</div>

						</div><!-- .match-detail -->

					</div><!-- #content -->
				</div><!-- #section -->

			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="copyright">
				<span>Copyright Simpolor</span>
			</div>
		</div><!-- #footer -->
	</body>
</html>
