<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
		<link rel="stylesheet" href="css/stickyfooter.css">
		<link rel="stylesheet" href="css/layout.css">
		
	</head>
	<body>
		<div id="wrap">
			<div id="main">

				<div id="header">
					<div class="pure-g" style="text-align: center; line-height: 50px;">
						<div class="pure-u-1">
							Header
						</div>
					</div>
				</div><!-- #header -->
				
				<div id="nav">
					<div class="pure-g" style="text-align: center; line-height: 50px;">
						<div class="pure-u-1">
							Nav
						</div>
					</div>
				</div><!-- #nav -->
				
				<div id="content">
					<div id="aside" style="text-align: center; line-height: 50px;">
						Aside
					</div><!-- #aside -->

					<div id="main-section">
						<div class="pure-g">
							<div class="pure-u-1-5" style="background: #FAFAFA">
								<span >#FAFAFA</span>
							</div>
							<div class="pure-u-1-5" style="background: #D8D8D8">
								<span>#D8D8D8</span>
							</div>
							<div class="pure-u-1-5" style="background: #BDBDBD">
								<span>#BDBDBD</span>
							</div>
							<div class="pure-u-1-5" style="background: #A4A4A4">
								<span>#A4A4A4</span>
							</div>
							<div class="pure-u-1-5" style="background: #848484">
								<span>#848484</span>
							</div>
						</div>
					</div><!-- #main-section -->
				</div><!-- #content -->

			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="pure-g" style="text-align: center; line-height: 50px;">
				<div class="pure-u-1">
					Footer
				</div>
			</div>
		</div><!-- #footer -->

	</body>
</html>
