<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../static/css/stickyfooter.css">
		<link rel="stylesheet" href="../../../static/css/layout.css">
		<link rel="stylesheet" href="../../../static/css/match.css">
	</head>
	<body>
		<div id="wrap">
			<div id="main">

				<div id="header">
					<div class="logo">
						<span>SSFC</span>
					</div>
				</div><!-- #header -->

				<div id="contents">
					<div id="main-section">

						<div class="match-list">

							<div class="add">
								<i class="fa fa-plus-circle"></i>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

							<div class="item">
								<div class="pure-g name">
									<div class="pure-u-3-8">
										<span>Home</span>
									</div>
									<div class="pure-u-1-4"></div>
									<div class="pure-u-3-8">
										<span>Away</span>
									</div>
								</div>
								<div class="pure-g score">
									<div class="pure-u-3-8">
										<span>3</span>
									</div>
									<div class="pure-u-1-4">
										<span>:</span>
									</div>
									<div class="pure-u-3-8">
										<span>2</span>
									</div>
								</div>
								<div class="pure-g place">
									<div class="pure-u-1">
										<span>가산디지털단지 ( 2022-03-07 08:00 ~ 10:00 )</span>
									</div>
								</div>
							</div>

						</div><!-- .match-list -->

					</div><!-- #main-section -->
				</div><!-- #contents -->

			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="copyright">
				<span>Copyright Simpolor</span>
			</div>
		</div><!-- #footer -->
	</body>
</html>
