<!doctype html>
<html lang="ko">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>purecss.io</title>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../../static/css/stickyfooter.css">
		<link rel="stylesheet" href="../../../static/css/layout.css">
		<link rel="stylesheet" href="../../../static/css/match.css">
	</head>
	<body>
		<div id="wrap">
			<div id="main">

				<div id="header">
					<div class="logo">
						<span>SSFC</span>
					</div>
				</div><!-- #header -->

				<div id="contents">
					<div id="main-section">

						<div class="match-form">
							<form class="pure-form">
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>장소</span>
									</div>
									<div class="pure-u-3-5 content">
										<input type="text" />
									</div>
									<div class="pure-u-1-5"></div>
								</div>
								<div class="pure-g">
									<div class="pure-u-1-5 title">
										<span>시간</span>
									</div>
									<div class="pure-u-3-5 content">
										<input type="text" />
									</div>
									<div class="pure-u-1-5"></div>
								</div>
							</form>

							<div class="buttons">
								<button class="pure-button">목록</button>
								<button class="pure-button pure-button-primary">완료</button>
							</div>
						</div><!-- .match-add -->

					</div><!-- #main-section -->
				</div><!-- #contents -->

			</div><!-- #main -->
		</div><!-- #wrap -->

		<div id="footer">
			<div class="pure-g" style="text-align: center; line-height: 50px;">
				<div class="pure-u-1">
					Footer
				</div>
			</div>
		</div><!-- #footer -->
	</body>
</html>
