<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/stickyfooter.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/layout.css">
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="css/pureness-join.css">
    <style type="text/css">
        #content {
            max-width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div id="wrap">
    <div id="main">

        <div id="header">
            <div class="pure-g" style="text-align: center; line-height: 50px;">
                <div class="pure-u-1">
                    Header
                </div>
            </div>
        </div><!-- #header -->

        <div id="nav">
            <div class="pure-g" style="text-align: center; line-height: 50px;">
                <div class="pure-u-1">
                    Nav
                </div>
            </div>
        </div><!-- #nav -->

        <div id="content">
            <div id="main-section">
                <div class="pureness-join-title">
                    <h2>계정찾기</h2>
                </div><!-- .pureness-join-title -->

                <div class="pure-form pureness-join-form">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <input class="pure-input-1" type="text" placeholder="이름">
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <input class="pure-input-1" type="password" placeholder="이메일">
                        </div>
                        <div class="pure-u-1">
                            <span class="error">일치하는 정보가 없습니다.</span>
                        </div>
                    </div>
                </div><!-- .pureness-join-form -->

                <div class="pureness-join-buttons">
                    <div class="pure-g">
                        <div class="pure-u-1">
                            <button class="pure-button pure-button-primary full">계정찾기</button>
                            <button class="pure-button full">로그인</button>
                        </div>
                    </div>
                </div><!-- .pure-member-buttons -->

            </div><!-- #content -->
        </div><!-- #section -->

    </div><!-- #main -->
</div><!-- #wrap -->

<div id="footer">
    <div class="pure-g" style="text-align: center; line-height: 50px;">
        <div class="pure-u-1">
            Footer
        </div>
    </div>
</div><!-- #footer -->

</body>
</html>
