#wrap { background: #FAFAFA; }
#main { }
#footer { background: #848484; }
#header { height:50px; background: #A4A4A4; }
#nav { height:50px; background: #BDBDBD; }
#content { }
#main-section { height:auto; padding: 30px 15px; }