<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/stickyfooter.css">
    <link rel="stylesheet" href="../../layouts/layout-2/css/layout.css">
    <link rel="stylesheet" href="../../pureness/css/pureness.css">
    <link rel="stylesheet" href="../../component/css/pureness-pagination.css">
    <link rel="stylesheet" href="css/pureness-timeline.css">
    <style type="text/css">
        #content {
            max-width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="wrap">
        <div id="main">

            <div id="header">
                <div class="pure-g" style="text-align: center; line-height: 50px;">
                    <div class="pure-u-1">
                        Header
                    </div>
                </div>
            </div><!-- #header -->

            <div id="nav">
                <div class="pure-g" style="text-align: center; line-height: 50px;">
                    <div class="pure-u-1">
                        Nav
                    </div>
                </div>
            </div><!-- #nav -->

            <div id="content">
                <div id="main-section">

                    <div class="pureness-timeline-title">
                        <h2>타임라인 게시판</h2>
                    </div><!-- .pureness-timeline-title -->

                    <form id="#register" class="pureness-timeline-form">
                        <div class="profile">
                            <div class="profile-image">
                                <img src="images/no-image.png"  />
                            </div>
                            <div class="nickname">
                                <span>닉네임</span>
                            </div>
                            <div class="comment">
                                <span>님은 오늘 하루 어떠셨나요?! </span>
                            </div>
                        </div>
                        <div class="content">
                            <textarea placeholder="고운말을 사용합시다."></textarea>
                        </div>
                        <div class="buttons">
                            <button class="pure-button pure-button-primary">글쓰기</button>
                        </div>
                    </form><!-- .pureness-reply-form -->

                    <div class="pureness-timeline-list">
                        <div class="pureness-timeline-item">
                            <div class="profile">
                                <div class="profile-image">
                                    <img src="images/no-image.png"  />
                                </div>
                                <div class="nickname">
                                    <span>닉네임</span>
                                </div>
                                <div class="date">
                                    <span>( 30분 )</span>
                                </div>
                            </div>
                            <div class="content">
                                <p>내용1</p>
                            </div>
                        </div>

                        <div class="pureness-timeline-item">
                            <div class="profile">
                                <div class="profile-image">
                                    <img src="images/no-image.png"  />
                                </div>
                                <div class="nickname">
                                    <span>닉네임</span>
                                </div>
                                <div class="date">
                                    <span>( 2일 )</span>
                                </div>
                            </div>
                            <div class="content">
                                <p>내용2</p>
                            </div>
                        </div>
                        <div class="pureness-timeline-item">
                            <div class="profile">
                                <div class="profile-image">
                                    <img src="images/no-image.png"  />
                                </div>
                                <div class="nickname">
                                    <span>닉네임</span>
                                </div>
                                <div class="date">
                                    <span>( 8월 31일 )</span>
                                </div>
                            </div>
                            <div class="content">
                                <textarea>내용3</textarea>
                            </div>
                            <div class="buttons">
                                <button class="pure-button pureness-button-small">삭제</button>
                                <button class="pure-button pureness-button-small pure-button-primary">수정</button>
                            </div>
                        </div>
                        <div class="pureness-timeline-item">
                            <div class="profile">
                                <div class="profile-image">
                                    <img src="images/no-image.png"  />
                                </div>
                                <div class="nickname">
                                    <span>닉네임</span>
                                </div>
                                <div class="date">
                                    <span>( 2020년 08월 29일 )</span>
                                </div>
                            </div>
                            <div class="content">
                                <p>내용4</p>
                            </div>
                        </div>
                    </div><!-- .pureness-timeline-list -->

                </div><!-- #content -->
            </div><!-- #section -->

        </div><!-- #main -->
    </div><!-- #wrap -->

    <div id="footer">
        <div class="pure-g" style="text-align: center; line-height: 50px;">
            <div class="pure-u-1">
                Footer
            </div>
        </div>
    </div><!-- #footer -->

</body>
</html>
