/*
    colors
	#EAF6F7, #C7E4DB, #8FBCA7, #959C67, #EEC697, #EFE6DD
*/

#wrap, #main {
	background:#FFFFFF;
}

#footer {
	background:#242424;
}

#header {
	height:50px; 
	background:#151515;
}
#nav {
	height:50px;
	background:#FFD919;
}


#content {
	height:auto;
}

/*--- header start ---*/
#header {
	position: relative;
	width: 100%;
	min-width: 1000px;
	height: 30px;
	margin: 0 auto;
}
.header-logo {
	position: absolute;
	width: inherit;
	min-width: inherit;
	text-align: center;
}
.header-logo>span {
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	color: #F6C503;
}
.header-member {
	position: absolute;
	right: 0;
	padding: 0 20px;
}
.header-member>a{
	clear: both;
	padding-right: 10px;
	line-height: 30px;
	text-decoration: none;
	color: #F6C503;
}
/*--- header end ---*/

/*--- nav start ---*/
#nav {
	width: 100%;
	min-width: 1000px;
	height: 50px;
	margin: 0 auto;
}
.nav-menus {
	width: inherit;
	min-width: inherit;
	font-weight: bold;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
}
.nav-menus>a {
	padding: 0 10px;
	text-decoration: none;
	color: #000;
}
/*--- nav end ---*/

/*--- footer start ---*/
#footer {
	width: 100%;
	min-width: 1000px;
	min-hiehgt: 50px;
	background: #CACACA;
}
.footer-copyright {
	width: inherit;
	min-width: inherit;
	text-align: center;
}
.footer-copyright>span {
	font-size: 15px;
	line-height: 50px;
	padding: 0 10px;
}
/*--- footer end ---*/