/*---- .room-nav start ----*/
.room-nav {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin-top: 30px;
}
.room-nav-title {
	width: 900px;
	margin: 0 auto;
}
.room-nav-title>span {
	font-weight: bold;
	font-size: 16px;
}
/*---- .room-nav end ----*/


/*---- .room-search start ----*/
.room-search {
	width: 100%;
	min-width: 1000px;
	height: 100px;
}
.room-search fieldset {
	width: 700px;
	border: 0;
	margin: 0 auto;
}
.room-search legend {
	display: none;
}
.room-search p {
	padding-top: 10px;
}
.room-search-condition {
	width: 150px;
	height: 40px;
	margin-right: 2px;
	border: 1px solid #DCDCDC;
}
.room-search-word {
	width: 440px;
	height: 38px;
	margin-right: 2px;
	padding: 5px;
	border: 1px solid #DCDCDC;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.room-search-btn {
	width: 90px;
	height: 40px;
	background: red;
	margin-top: -4px;
	margin-right: 2px;
	border: 1px solid #DCDCDC;
	background: #CACACA;
}
/*---- .room-search end ----*/


/*---- .room-list start ----*/
.room-list {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.room-list table {
	width: 900px;
	margin: 0 auto;
}
.room-list caption {
	display: none;
}
.room-list thead {
	background: #D8D8D8;
}
.room-list thead>tr {
	height: 40px;
	border-bottom: 1px solid #C6C6C6;
}
.room-list thead>tr>th {
	text-align: center;
}
.room-list tbody { }
.room-list tbody>tr {
	height: 35px;
	border-bottom: 0.5px solid #C6C6C6;
}
.room-list tbody>tr>td {
	text-align: center;
}
/*---- .room-list end ----*/


/*---- .room-write start ----*/
.room-write {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.room-write table {
	width: 900px;
	margin: 0 auto;
}
.room-write caption {
	display: none;
}
.room-write thead { }
.room-write thead>tr {
	height: 40px;
}
.room-write thead>tr>th {
	text-align: left;
}
.room-write tbody { }
.room-write tbody>tr {
	height: 100%;
}
.room-write tbody>tr>td {
	text-align: left;
}
.room-write-title {
	width: 890px;
	height: 38px;
	margin: 3px;
	border: 1px solid #C6C6C6;
	font-weight: normal;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.room-write-content {
	width: 890px;
	height: 500px;
	margin: 3px;
	border: 1px solid #C6C6C6;
	padding: 10px;
	line-height: 25px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
/*---- .room-write end ----*/


/*---- .room-view start ----*/
.room-view {
	width: 100%;
	min-width: 1000px;
	height: auto;
	margin: 20px 0;
}
.room-view table {
	width: 900px;
	margin: 0 auto;
}
.room-view caption {
	display: none;
}
.room-view thead { }
.room-view thead>tr {
	height: 45px;
}
.room-view thead>tr>th {
	text-align: center;
}
.room-view tbody { }
.room-view tbody>tr {
	height: 100%;
}
.room-view tbody>tr>td {
	text-align: left;
	vertical-align: top;
}
.room-view-title {
	width: 890px;
	height: inherit;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #C6C6C6;
	padding: 10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.room-view-content {
	width: 890px;
	height: 500px;
	margin: 3px;
	padding: 10px;
	border: 1px solid #C6C6C6;
	font-weight: normal;
	line-height: 25px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
/*---- .room-view end ----*/


/*---- .room-btn start ----*/
.room-btn {
	width: 100%;
	min-width: 1000px;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.room-btn-list {
	width: 900px;
	height: inherit;
	margin: 0 auto;
}
.room-btn-group {
	float: right;
	width: auto;
	height: inherit;
}
.room-btn-group a {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;;
	text-decoration: none;
	color: #000;
	margin: 0 10px;
}
.room-btn-group a:active {
	color: #000;
}
/*---- .room-btn end ----*/


/*---- .room-pagination start ----*/
.room-pagination {
	text-align: center; 
	margin: 20px;
}
.room-pagination a, .room-pagination strong {
    display: inline-block;
	background: #FFF;
    margin-right: 3px;
    padding: 4px 13px;
	font-size: 16px;
	line-height: 20px;;
	text-decoration: none;
	color: #4A4A4A;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.room-pagination a:hover { 
	color: #FFBB00;
}
.room-pagination a:active {
	background: #D5D5D5;
}
.room-pagination strong {
	color: #000;
}
/*---- .room-pagination end ----*/