<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>purecss.io</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="css/board.css">
    <style>
        #container {
            margin: 0 auto;
            max-width: 1000px;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <div id="container">

        <div class="board-title">
            <h2>게시판</h2>
        </div>

        <div class="board-detail">
            <form class="pure-form">
                <div class="title">
                    <h3>가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사</h3>
                    <div class="date">
                        <span>등록일 2018-12-25 15:22:35 / 수정일 2018-12-26 15:25:55</span>
                    </div>
                </div>

                <div class="content">
                    <p>
                        가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                        가나다라 마바사<br />
                    </p>
                </div>
            </form>
        </div>

        <div class="board-buttons">
            <a href="#" class="pure-button">목록</a>
            <a href="#" class="pure-button">삭제</a>
            <a href="#" class="pure-button pure-button-primary">수정</a>
        </div>

        <div class="comment-form">
            <form id="#register">
                <div class="title">
                    <h4>댓글 등록</h4>
                </div>
                <div class="content">
                    <textarea placeholder="고운말을 사용합시다."></textarea>
                </div>
                <div class="buttons">
                    <button class="pure-button">취소</button>
                    <button class="pure-button pure-button-primary">등록</button>
                </div>
            </form>
        </div>

        <div class="comment-list">
            <ul>
                <li>
                    <form id="#id1">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <p>
                                추천을 10개 박고 싶네요
                            </p>
                        </div>
                    </form>
                </li>
                <li>
                    <form id="#id6">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <p>
                                추천을 10개 박고 싶네요
                            </p>
                        </div>
                    </form>
                </li>
                <li>
                    <form id="#id2">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <p>
                                추천을 10개 박고 싶네요
                            </p>
                        </div>
                        <div class="buttons">
                            <button class="pure-button">삭제</button>
                            <button class="pure-button pure-button-primary">수정</button>
                        </div>
                    </form>
                </li>
                <li>
                    <form id="#id3">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <textarea>추천을 10개 박고 싶네요</textarea>
                        </div>
                        <div class="buttons">
                            <button class="pure-button">취소</button>
                            <button class="pure-button pure-button-primary">완료</button>
                        </div>
                    </form>
                </li>
                <li>
                    <form id="#id4">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <p>
                                추천을 10개 박고 싶네요<br/>
                                추천을 10개 박고 싶네요. 한번 더<br/>
                            </p>
                        </div>
                    </form>
                </li>
                <li>
                    <form id="#id5">
                        <div class="info">
                            <span class="register">심폴라</span>
                            <span class="date">2020-03-08 13:11:55</span>
                        </div>
                        <div class="content">
                            <p>
                                추천을 10개 박고 싶네요<br/>
                                추천을 10개 박고 싶네요. 한번 더<br/>
                                추천을 10개 박고 싶네요. 두번 더<br/>
                                추천을 10개 박고 싶네요. 세번 더<br/>
                            </p>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <div class="pagination">
            <ul>
                <li class=""><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=""><a href="#"><i class="fa fa-angle-left"></i></a></li>

                <li class="active"><a>1</a></li>
                <li><a>2</a></li>
                <li><a>3</a></li>
                <li><a>4</a></li>
                <li><a>5</a></li>

                <li class=""><a href="#"><i class="fa fa-angle-right"></i></a></li>
                <li class="disabled"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>

    </div>

</body>
</html>
